.container {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    max-width: 90%;
}

.code_typing {
    margin-top: 1%;
    padding: 2%;
}

.btn-large {
    width: 50%;
    background-color: #33342b;
}

.btn-large:hover {
    background-color: #4c4d44;
<<<<<<< HEAD
}
=======
}
>>>>>>> a1d88a1a8af1acad50ee54604b574026489d045f
